TinoHacksGame\bin
*.lock
.vs/TinoHacksGame/v15/.suo
TinoHacksGame/GameManager.cs
TinoHacksGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/TinoHacksGame/v15/.suo
.vs/TinoHacksGame/v15/.suo
.vs/TinoHacksGame/v15/.suo
.vs/TinoHacksGame/v15/Server/sqlite3/storage.ide-wal
TinoHacksGame/bin/DesktopGL/AnyCPU/Debug/TinoHacksGame.exe
TinoHacksGame/bin/DesktopGL/AnyCPU/Debug/TinoHacksGame.pdb
TinoHacksGame/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TinoHacksGame/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TinoHacksGame/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TinoHacksGame/obj/Debug/TinoHacksGame.csproj.CopyComplete
TinoHacksGame/obj/Debug/TinoHacksGame.csproj.CoreCompileInputs.cache
TinoHacksGame/obj/Debug/TinoHacksGame.csproj.FileListAbsolute.txt
TinoHacksGame/obj/Debug/TinoHacksGame.exe
TinoHacksGame/obj/Debug/TinoHacksGame.pdb
.vs/TinoHacksGame/v15/Server/sqlite3/storage.ide-wal
